<!-- Añadir Nuevo Usuario -->
<section class="about bg-dark section-cita" id="about" id="admin">
    <div class="container-xxl py-5 d-flex justify-content-center">
        <div class="col-lg-6 wow fadeIn contacto" data-wow-delay="0.1s">
            <h1 class="display-6 mb-5">Lista de Usuarios</h1>
            <p class="mb-4">Añadir Nuevo Usuario</p>
            <form>
                <div class="mb-3">
                    <label for="name" class="form-label">Nombre</label>
                    <input type="text" class="form-control" name="name" id="name"  [(ngModel)]="usuarioRecogido.nombre">
                </div>
                <div class="mb-3">
                    <label for="apellido" class="form-label">Apellido</label>
                    <input type="text" class="form-control" name="apellido" id="apellido" [(ngModel)] = "usuarioRecogido.apellido">
                </div>
                <div class="mb-3">
                    <label for="telefono" class="form-label">Telefono</label>
                    <input type="text" class="form-control" name="telefono" id="telefono" [(ngModel)] = "usuarioRecogido.telefono">
                </div>
                <div class="mb-3">
                    <label for="mail" class="form-label">Correo</label>
                    <input type="text" class="form-control" name="mail" id="mail" [(ngModel)] = "usuarioRecogido.mail">
                </div>

                <br><br>
                @if(usuarioRecogido?.idUsuario == null){
                <button type="submit" (click)="crearUsuario()"> Añadir Usuario</button>
                }
                @else{
                    <button type="submit" (click)="actualizarUsuario()"> Aplicar cambios</button>
                }
                
                <button type="reset"> Limpiar Campos </button>
            </form>
                <br>
                <button> <a routerLink="/listUsuario"> Volver atrás </a></button>
        </div>
    </div>
</section>
<!-- Fin Nuevo Usuario -->
<app-footer></app-footer>