<!-- Añadir Nuevo Usuario -->
<section class="about bg-dark section-cita" id="about" id="admin">
    <div class="container-xxl py-5 d-flex justify-content-center">
        <div class="col-lg-6 wow fadeIn contacto" data-wow-delay="0.1s">
            <h1 class="display-6 mb-5">Lista de Usuarios</h1>
            <p class="mb-4">Añadir Nuevo Usuario</p>
            <form th:action="@{/usuario/anadir}"  method="get">
                <label>Nombre: </label>
                <input name="nombre" type="text" placeholder="Escriba su nombre">
                <br>
                <label>Primer Apellido: </label>
                <input name="apellido1"  type="text" placeholder="Escriba su primer apellido">
                <br>
                <label>Segundo Apellido: </label>
                <input name="apellido2" type="text" placeholder="Escriba su segundo apellido">
                <br>
                <label>Email: </label>
                <input name="email" type="text" placeholder="Escriba su email">
                <br>
                <label>Contraseña: </label>
                <input name="passwd" type="password" placeholder="Escriba una contraseña">
                <br>
                <label>Roles: </label>
                <select name="rol" multiple title="roles">
                    <option th:each="rol : ${listaRoles}" th:value="${rol.id}" th:text="${rol.nombre}"></option>
                </select>
                <br><br>
                @if(usuario.idUsuario == null){
                <button type="submit" (click)="actualizarUsuario()"> Aplicar cambios</button>
                <button type="submit" (click)="crearUsuario()"> Añadir Usuario</button>
                }
                
                <button type="reset"> Limpiar Campos </button>
            </form>
                <br>
                <button> <a href="Usuarios"> Volver atrás </a></button>
        </div>
    </div>
</section>
<!-- Fin Nuevo Usuario -->
<app-footer></app-footer>