<!-- Añadir Nuevo Usuario -->
<section class="about bg-dark section-cita" id="about" id="admin">
    <div class="container-xxl py-5 d-flex justify-content-center">
        <div class="col-lg-6 wow fadeIn contacto" data-wow-delay="0.1s">
            <h1 class="display-6 mb-5">Lista de Usuarios</h1>
            <p class="mb-4">Añadir Nuevo Usuario</p>
            <form>
                <div class="mb-3">
                    <label for="name" class="form-label">Nombre</label>
                    <input type="text" class="form-control" name="name" id="name"  [(ngModel)]="usuarioRecogido.nombre">
                </div>
                <div class="mb-3">
                    <label for="apellido" class="form-label">Apellido</label>
                    <input type="text" class="form-control" name="apellido" id="apellido" [(ngModel)] = "usuarioRecogido.apellido">
                </div>
                <div class="mb-3">
                    <label for="telefono" class="form-label">Telefono</label>
                    <input type="text" class="form-control" name="telefono" id="telefono" [(ngModel)] = "usuarioRecogido.telefono">
                </div>
                <div class="mb-3">
                    <label for="mail" class="form-label">Correo</label>
                    <input type="text" class="form-control" name="mail" id="mail" [(ngModel)] = "usuarioRecogido.mail">
                </div>

                <div class="mb-3">
                    <label for="rol" class="form-label">Rol</label>
                    <select type="password" class="form-control" name="rol" id="rol" [(ngModel)] = "usuarioRecogido.rol">
                        <option selected disabled>Escoja una opción</option>
                        <option value="0">Cliente</option>
                        <option value="1">Mecanico</option>
                        <option value="2">Admin</option>
                    </select>
                </div>   

                @if(usuarioRecogido.idUsuario == null){
                <div class="mb-3">
                        <label for="mail" class="form-label">Contraseña</label>
                        <input type="password" class="form-control" name="mail" id="mail" [(ngModel)] = "usuarioRecogido.passwd">
                </div>

                <button type="submit" class="btn btn-primary py-3 px-5 mt-3" (click)="actualizarUsuario()"> Añadir Usuario</button>
                }
                @else{
                    <button type="submit" class="btn btn-primary py-3 px-5 mt-3" (click)="actualizarUsuario()"> Aplicar cambios</button>
                }
                
                <button type="reset" class="btn btn-danger py-3 px-5 mt-3 "> Limpiar Campos </button>
            </form>
                <br>
                <a routerLink="/listUsuario" class="btn btn-primary py-3 px-5 mt-3"> Volver atrás </a>
        </div>
    </div>
</section>
<!-- Fin Nuevo Usuario -->
<app-footer></app-footer>