<section class="user bg-light">
    <div class="user_options-container">
        <div class="user_options-text">
            <div class="user_options-unregistered">
                <h2 class="card-title h2 text-success  mb-4">¿No tienes cuenta?</h2>
                <p class="text-muted">Regístrate ahora y disfruta de ofertas exclusivas.</p>
                <button class="btn btn-success" id="signup-button" style="width: 150px;">Sign up</button>
            </div>

            <div class="user_options-registered">
                <h2 class="card-title h2 text-success font-weight-bold mb-4">¿Ya estás registrado?</h2>
                <p class="text-muted">Inicia sesión para informarte de las nuevas ofertas.</p>
                <button class="btn btn-success" id="login-button" style="width: 150px;">Login</button>
            </div>
        </div>

        <div class="user_options-forms" id="user_options-forms">
            <div class="user_forms-signup">
                <form class="forms_form signup-form" >
                    <h2 class="card-title h2 text-success text-center mb-4">Registro</h2>
                    <div class="mb-3">
                        <label for="id" class="form-label">Id</label>
                        <input type="text" class="form-control" name="id" id="id" [(ngModel)] = "usuario.idUsuario">
                    </div>
                    <div class="mb-3">
                        <label for="name" class="form-label">Nombre</label>
                        <input type="text" class="form-control" name="name" id="name" [(ngModel)] = "usuario.nombre">
                    </div>
                    <div class="mb-3">
                        <label for="apellido" class="form-label">Apellido</label>
                        <input type="text" class="form-control" name="apellido" id="apellido" [(ngModel)] = "usuario.apellido">
                    </div>
                    <div class="mb-3">
                        <label for="telefono" class="form-label">Telefono</label>
                        <input type="text" class="form-control" name="telefono" id="telefono" [(ngModel)] = "usuario.telefono">
                    </div>
                    <div class="mb-3">
                        <label for="mail" class="form-label">Correo</label>
                        <input type="text" class="form-control" name="mail" id="mail" [(ngModel)] = "usuario.mail">
                    </div>
                    <div class="mb-3">
                        <label for="passwd" class="form-label">Contraseña</label>
                        <input type="text" class="form-control" name="passwd" id="passwd" [(ngModel)] = "usuario.passwd">
                    </div>
                    <div class="mb-3">
                        <button class="btn btn-primary" type="submit" (click)="crearUsuario()">Registrar</button>
                    </div>
                </form>
            </div>
            <div class="user_forms-login">
                <form class="forms_form login-form" th:action="@{/login}" method="POST" th:object="${usuario}">
                    <h2 class="card-title h2 text-success text-center mb-4">Iniciar Sesión</h2>
                    <div class="mb-3">
                        <label for="username" class="form-label">Nombre de Usuario</label>
                        <input type="text" class="form-control" id="username" name="username" required>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Contraseña</label>
                        <input type="password" class="form-control" id="password" name="password" required>
                    </div>
                    <div class="mb-3">
                        <button type="submit" class="btn btn-success w-100">Iniciar Sesión</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>