   <!-- Inicio de Inventario -->
   <section class="about bg-light">
    <div class="heading">
        <div class="container-xxl py-5 d-flex justify-content-center">
            <div class="col-lg-6 wow fadeIn top-buscador" data-wow-delay="0.1s">
                <h1 class="display-6 mb-5">Inventario de piezas</h1>
                <p class="mb-4">Utiliza los filtros de busqueda para encontrar lo que buscas en un menor tiempo.</p>

                <div class="container-fluid bg-primary wow fadeIn buscador" data-wow-delay="0.1s" style="padding: 35px;">
                    <div class="container">
                        <div class="row g-2">
                            <div class="col-md-10">
                                <div class="row g-2">
                                    <div class="col-md-4">
                                        <input type="text" class="form-control border-0"
                                            placeholder="Descripcion..." />
                                    </div>
                                    <div class="col-md-4">
                                        <select class="form-select border-0">
                                            <option selected>Marca</option>
                                            <option value="1">Seat</option>
                                            <option value="2">Audi</option>
                                            <option value="3">Mercedes</option>
                                        </select>
                                    </div>
                                    <div class="col-md-4">
                                        <select class="form-select border-0">
                                            <option selected>Modelo</option>
                                            <option value="1">Leon</option>
                                            <option value="2">Ateca</option>
                                            <option value="3">Clase A</option>
                                            <option value="4">GLC Coupe</option>
                                            <option value="5">A3 Sportback</option>
                                            <option value="6">Q8</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <button class="btn btn-dark border-0 w-100">Buscar</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Search End -->
            </div>
        </div>
    </div>

    <div class="container inventario">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="imagenes/aceiteCoche.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Aceite para coche</h5>
                <p class="card-text">Unidades disponibles: 20</p>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="imagenes/aceiteCoche.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Aceite para coche</h5>
                <p class="card-text">Unidades disponibles: 20</p>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="imagenes/aceiteCoche.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Aceite para coche</h5>
                <p class="card-text">Unidades disponibles: 20</p>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="imagenes/aceiteCoche.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Aceite para coche</h5>
                <p class="card-text">Unidades disponibles: 20</p>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="imagenes/aceiteCoche.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Aceite para coche</h5>
                <p class="card-text">Unidades disponibles: 20</p>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="imagenes/aceiteCoche.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Aceite para coche</h5>
                <p class="card-text">Unidades disponibles: 20</p>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="imagenes/aceiteCoche.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Aceite para coche</h5>
                <p class="card-text">Unidades disponibles: 20</p>
            </div>
        </div>
    </div>
</section>
<!-- Fin de Inventario -->
<app-footer></app-footer>