<!DOCTYPE html>
<html lang="en">
<head>
    <title>Talleres YoDa</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/x-icon" href="imagenes/logo.png">

    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/templatemo.css">
    <link rel="stylesheet" href="assets/css/custom.css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">
    <link rel="stylesheet" href="assets/css/fontawesome.min.css">
</head>
<body>
    <!-- Header -->
    <nav class="navbar navbar-expand-lg navbar-light shadow">
        <div class="container d-flex justify-content-between align-items-center">

            <a class="navbar-brand text-success logo h1 align-self-center" href="index.html">
                <img src="imagenes/logo.png" width="20%" height="20%">Talleres YoDa
            </a>

            <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse"
                data-bs-target="#templatemo_main_nav" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="align-self-center collapse navbar-collapse flex-fill  d-lg-flex justify-content-lg-between"
                id="templatemo_main_nav">
                <div class="flex-fill">
                    <ul class="nav navbar-nav d-flex justify-content-between mx-lg-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="index.html">Inicio</a>
                        </li>
                        <!-- <li class="nav-item">
                            <a class="nav-link" href="index.html#sobreNosotros">Sobre nosotros</a>
                        </li> -->
                        <li class="nav-item">
                            <a class="nav-link" href="index.html#services">Servicios</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="index.html#oferta">Ofertas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="index.html#contacto">Contacto</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-primary py-3 px-5 mt-3" href="login.html" id="login"><b>Login</b></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <!-- Fin Navbar -->

    <!-- Inicio de Modificar Usuario -->
    <section class="about bg-dark section-cita" id="about" id="admin">
        <div class="container-xxl py-5 d-flex justify-content-center">
            <div class="col-lg-6 wow fadeIn contacto" data-wow-delay="0.1s">
                <h1 class="display-6 mb-5">Bienvenido Administrador<label>(Aqui introducir el nombre con Spring) </label></h1>
                <p class="mb-4">Modificar Usuario</p>
                <form th:action="@{/usuario/modificar}"  method="get">
                    <input name="idUsuario" type="text" th:value="${idUsuario}" style="display: none;">
                    <label>Escriba el nombre del usuario: </label>
                    <input name="nombre" type="text" th:value="${nombre}">
                    <br>
                    <label>Escriba el apellido1 del usuario: </label>
                    <input name="apellido1" type="text" th:value="${apellido1}">
                    <br>
                    <label>Escriba el apellido2 del usuario: </label>
                    <input name="apellido2" type="text" th:value="${apellido2}">
                    <br>
                    <label>Escriba el email del usuario: </label>
                    <input name="email" type="text" th:value="${email}">
                    <br>
                    <label>Escriba la contraseña del usuario: </label>
                    <input name="passwd" type="password" th:value="${passwd}">
                    <br>
                    <label>Seleccione un rol: </label>
                    <select name="rol" multiple>
                        <option th:each="rol : ${listaRoles}" th:value="${rol.id}" th:text="${rol.nombre}"></option>
                    </select>
                    <br><br>
                    <button type="submit"> Añadir Usuario</button>
                    <button type="reset"> Limpiar Campos </button>
                </form>
                    <br>
                <button> <a th:href="@{/usuario/gestionUsuario}"> Volver atrás </a></button>
            </div>
        </div>
    </section>
    <!-- Fin de Modificar Usuario -->


    <!-- Inicio Footer -->
    <footer id="tempaltemo_footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4 pt-5">
                    <h2 class="h2 text-success border-bottom pb-3 border-light logo">Talleres YoDa</h2>
                    <ul class="list-unstyled text-footer footer-link-list">
                        <li>
                            <i class="fas fa-map-marker-alt fa-fw"></i>
                            Calle Miguel de Cervantes, 17
                        </li>
                        <li>
                            <i class="fa fa-phone fa-fw"></i>
                            <a class="text-decoration-none" href="tel:926-586-068">926-586-068</a>
                        </li>
                        <li>
                            <i class="fa fa-envelope fa-fw"></i>
                            <a class="text-decoration-none"
                                href="mailto:talleresyoda@gmail.com">talleresyoda@gmail.com</a>
                        </li>
                    </ul>
                </div>

                <div class="col-md-4 pt-5">
                    <h2 class="h2 text-footer border-bottom pb-3 border-light">Productos</h2>
                    <ul class="list-unstyled text-light footer-link-list">
                        <li><a class="text-decoration-none" href="#">Limpieza</a></li>
                        <li><a class="text-decoration-none" href="#">Aceites</a></li>
                        <li><a class="text-decoration-none" href="#">Liquido frenos</a></li>
                        <li><a class="text-decoration-none" href="#">Herramientas</a></li>
                        <li><a class="text-decoration-none" href="#">Neumaticos</a></li>
                        <li><a class="text-decoration-none" href="#">Limpiaparabrisas</a></li>
                    </ul>
                </div>

                <div class="col-md-4 pt-5">
                    <h2 class="h2 text-footer border-bottom pb-3 border-light">Informacion adicional</h2>
                    <ul class="list-unstyled text-light footer-link-list">
                        <li><a class="text-decoration-none" href="index.html">Inicio</a></li>
                        <li><a class="text-decoration-none" href="index.html#sobreNosotros">Sobre nosotros</a></li>
                        <li><a class="text-decoration-none" href="index.html#services">Servicios</a></li>
                        <li><a class="text-decoration-none" href="index.html#oferta">Ofertas</a></li>
                        <li><a class="text-decoration-none" href="index.html#contacto">Contacto</a></li>
                        <li><a class="text-decoration-none" href="#">FAQs</a></li>
                       
                    </ul>
                </div>

            </div>

            <div class="row text-light mb-4">
                <div class="col-12 mb-3">
                    <div class="w-100 my-3 border-top border-light"></div>
                </div>
                <div class="col-auto me-auto">
                    <ul class="list-inline text-left footer-icons">
                        <li class="list-inline-item border border-light rounded-circle text-center">
                            <a class="text-footer text-decoration-none" target="_blank" href="http://facebook.com/"><i
                                    class="fab fa-facebook-f fa-lg fa-fw"></i></a>
                        </li>
                        <li class="list-inline-item border border-light rounded-circle text-center">
                            <a class="text-footer text-decoration-none" target="_blank"
                                href="https://www.instagram.com/"><i class="fab fa-instagram fa-lg fa-fw"></i></a>
                        </li>
                        <li class="list-inline-item border border-light rounded-circle text-center">
                            <a class="text-footer text-decoration-none" target="_blank" href="https://twitter.com/"><i
                                    class="fab fa-twitter fa-lg fa-fw"></i></a>
                        </li>
                        <li class="list-inline-item border border-light rounded-circle text-center">
                            <a class="text-footer text-decoration-none" target="_blank"
                                href="https://www.linkedin.com/"><i class="fab fa-linkedin fa-lg fa-fw"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-auto">
                    <p class="text-left text-footer">
                        Copyright &copy; 2024 Company Name
                        | Diseñado por <a rel="sponsored" href="https://templatemo.com" target="_blank">TalleresYoDa</a>
                    </p>
                </div>
            </div>
        </div>

    </footer>
    <!-- Fin Footer -->

    <!-- Inicio Scripts -->
    <script src="assets/js/jquery-1.11.0.min.js"></script>
    <script src="assets/js/jquery-migrate-1.2.1.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/templatemo.js"></script>
    <script src="assets/js/custom.js"></script>
    <!-- Fin Scripts -->
</body>
</html>