<!-- Lista de Usuarios -->
<section class="about bg-dark section-cita" id="about" id="admin">
    <div class="container-xxl py-5 d-flex justify-content-center">
        <div class="col-lg-6 wow fadeIn contacto" data-wow-delay="0.1s">
            <h1 class="display-6 mb-5">Lista de Usuarios</h1>
            <p class="mb-4">Añadir Nuevo Usuario</p>
            <table class="table table-dark">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Teléfono</th>
                    <th>Correo electrónico</th>
                    <th>Contraseña</th>
                    <th>Rol</th>
                    <th>Acciones</th>
                  </tr>
                </thead>
                <tbody>
                  
                    @for(usuario of listaUsuarios; track usuario.idUsuario){
                      <tr>
                      <td>{{ usuario.idUsuario }}</td>
                      <td>{{ usuario.nombre }}</td>
                      <td>{{ usuario.apellido }}</td>
                      <td>{{ usuario.telefono }}</td>
                      <td>{{ usuario.mail }}</td>
                      <td>{{ usuario.passwd }}</td>
                      <td>
                        @if(usuario.rol == 0 || usuario.rol==null){
                          Cliente
                        }
                        @else if (usuario.rol == 1) {
                          Mecanico
                        }
                        @else{
                          Administrador
                        }
                      </td>
                      <td>
                        <!-- Aquí puedes añadir botones para editar o eliminar usuarios -->
                        <button class="btn btn-primary" (click)="modificacionUsuario(usuario)" >Editar</button>
                        <button class="btn btn-danger" (click)="eliminarUsuario(usuario)">Eliminar</button>
                      </td>
                    </tr>
                  }
                  
                </tbody>
              </table>

             

                <br>
            <a routerLink="" class="btn btn-primary py-3 px-5 mt-3"> Volver atrás </a>
            <a routerLink="/crearUsuario" class="btn btn-success py-3 px-5 mt-3"> Crear usuario </a>
        </div>
    </div>
</section>
<!-- Fin de Lista de Usuarios -->
<app-footer></app-footer>