 <!-- Header -->
 <nav class="navbar navbar-expand-lg navbar-light shadow">
  <div class="container d-flex justify-content-between align-items-center" id="Inicio">

      <a href="index.html" class="navbar-brand text-success logo h1 align-self-center">
          <img src="../assets/imagenes/logo.png" width="20%" height="20%"><span id="title">Talleres YoDa</span>
      </a> 

      <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse"
          data-bs-target="#templatemo_main_nav" aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>

      <div class="align-self-center collapse navbar-collapse flex-fill  d-lg-flex justify-content-lg-between"
          id="templatemo_main_nav">
          <div class="flex-fill">
              <ul class="nav navbar-nav d-flex justify-content-between mx-lg-auto" id="menuNavBar">
                  <li class="nav-item">
                      <a class="nav-link" href="admin.html">Admin</a>
                  </li>
                  <!-- <li class="nav-item">
                      <a class="nav-link" href="index.html">Inicio</a>
                  </li> -->
                  <!-- <li class="nav-item">
                      <a class="nav-link" href="#sobreNosotros">Sobre nosotros</a>
                  </li> -->
                  <li class="nav-item">
                      <a class="nav-link" href="#services">Servicios</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="#oferta">Ofertas</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="#contacto">Contacto</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="cita.html">Pide cita</a>
                  </li>
                  <li class="nav-item">
                      <a class="btn btn-primary py-3 px-5 mt-3" href="login.html" id="login"><b>Login</b></a>
                  </li>
              </ul>
          </div>
      </div>
  </div>
</nav>
<!-- Fin Navbar -->

<!-- Inicio Cabecera -->
<section class="about bg-dark bg-image cabecera" id="about">
  <div class="heading" >
      

      <p id="start"></p>

      <h1 id="title_cabecera"><img src="../assets/imagenes/logo.png" width="60%" height="60%"><sub>Trae tu nave con nosotros</sub></h1>
      
      <div id="titles">
        <div id="titlecontent">
      
          <p class="center">Talleres YoDa<br />
              Trae tu nave con nosotros</p>
      
              <p>En una galaxia no muy lejana, en el planeta automotriz, existe un taller mecánico único que combina la maestría en el servicio con la sabiduría intergaláctica: Talleres YoDa. Es el destino elegido para los amantes de Star Wars que buscan un mantenimiento y reparación veloces y eficaces para sus vehículos. Este taller, enclavado en un rincón de la ciudad, se presenta como un santuario para los fanáticos de la saga, donde la fuerza y la tecnología se fusionan para brindar servicios de alta calidad.</p>

              <p>En el corazón de Talleres YoDa, el Maestro Mecánico Yoda lidera un equipo de expertos en automóviles con habilidades que rivalizan con las del mismísimo Jedi. Con su lema "Rápido y Eficaz, Somos", este taller se destaca por ofrecer una variedad de servicios, desde el cambio de aceite hasta revisiones minuciosas del coche, neumáticos, filtros de aire y más. Los clientes pueden confiar en que sus naves terrestres recibirán un tratamiento digno de la Fuerza.</p>
              
              <p>El ambiente en Talleres YoDa es único. Los mecánicos, vestidos con túnicas Jedi, trabajan con destreza y rapidez, aplicando sus conocimientos en ingeniería automotriz con la misma maestría que Yoda maneja un sable de luz. Los empleados también adoptan un lenguaje peculiar y orientado a Star Wars, haciendo que la experiencia del cliente sea tan entretenida como eficiente.</p>
              
              <p>Cada cliente que visita el taller es recibido con un "¡Bienvenido, Padawan del Asfalto!" y es guiado por el proceso de servicio de manera clara y transparente. Las áreas de espera están decoradas con arte inspirado en Star Wars, y los clientes pueden disfrutar de películas de la saga mientras esperan a que su vehículo sea transformado por la pericia de los mecánicos Jedi.</p>
              
              <p>Los servicios de Talleres YoDa no solo se limitan a la mecánica básica; también ofrecen paquetes temáticos para los amantes de Star Wars, como el "Mantenimiento del Halcón Milenario", que incluye un cambio de aceite, revisión exhaustiva y limpieza interior. Además, los clientes reciben un certificado personalizado firmado por el Maestro Mecánico Yoda, lo que añade un toque auténticamente galáctico a la experiencia.</p>
              
              <p>La calidad y la rapidez son las piedras angulares de Talleres YoDa. Los mecánicos, entrenados en los secretos de la Fuerza automotriz, abordan cada tarea con precisión y velocidad, asegurando que los clientes puedan volver a la carretera en poco tiempo. La filosofía del taller es simple pero poderosa: "En Talleres YoDa, la eficacia es nuestra Fuerza, y la rapidez, nuestro sable de luz".</p>
              
              <p>Los neumáticos, cuidadosamente seleccionados, llevan nombres de planetas y personajes de Star Wars, brindando a los clientes la oportunidad de personalizar aún más sus vehículos. El taller también organiza eventos temáticos mensuales, donde los fanáticos de Star Wars pueden reunirse, intercambiar historias y compartir su amor por la saga mientras sus vehículos son atendidos por los mecánicos Jedi.</p>
              
              <p>Talleres YoDa no solo es un lugar para mantener en óptimas condiciones los vehículos, sino también un refugio para los apasionados de Star Wars que encuentran en cada servicio una experiencia que va más allá de la simple mecánica. La Fuerza fluye en cada rincón de este taller, convirtiéndolo en un destino galáctico para aquellos que buscan un servicio automotriz excepcional en un ambiente único y lleno de referencias a la saga más icónica de todos los tiempos.</p>
              
          </div>
      </div>



  </div>
  <div class="container socialmedia">
      <div>
          <a class="text-light" href="https://fb.com/templatemo" target="_blank" rel="sponsored"><i
                  class="fab fa-facebook-f fa-sm fa-fw me-2"></i></a>
          <a class="text-light" href="https://www.instagram.com/" target="_blank"><i
                  class="fab fa-instagram fa-sm fa-fw me-2"></i></a>
          <a class="text-light" href="https://twitter.com/" target="_blank"><i
                  class="fab fa-twitter fa-sm fa-fw me-2"></i></a>
          <a class="text-light" href="https://www.linkedin.com/" target="_blank"><i
                  class="fab fa-linkedin fa-sm fa-fw"></i></a>
      </div>
      <div class="heading" >
          <p class="section-title2 horas">Horario de apertura 9:00 a 13:00 y de 15:00 a 19:00</p>
      </div>
  </div>
</section>
<!-- Fin Cabecera -->


<!-- Inicio Servicios -->
<section class="about bg-light" id="services">
  <div class="heading">
      <h2 class="section-title"><span>// SERVICIOS //</span></h2>
      <p class="section-title2">Transformamos tu vehículo en una obra maestra sobre ruedas. <br>Descubre cómo
          cuidamos cada detalle y potenciamos el rendimiento de tu automóvil con pasión y experiencia mecánica.
      </p>
  </div>
  <div class="container">
      <div class="container-xxl service py-5">
          <div class="container">
              <div class="row g-4 wow fadeInUp" data-wow-delay="0.3s">
                  <div class="col-lg-4">
                      <div class="nav w-100 nav-pills me-4">
                          <button class="nav-link w-100 d-flex align-items-center text-start p-4 mb-4 active"
                              data-bs-toggle="pill" data-bs-target="#tab-pane-1" type="button">
                              <i class="fa fa-car-side fa-2x me-3"></i>
                              <h4 class="m-0">Pon tu coche a punto</h4>
                          </button>
                          <button class="nav-link w-100 d-flex align-items-center text-start p-4 mb-4"
                              data-bs-toggle="pill" data-bs-target="#tab-pane-2" type="button">
                              <i class="fa fa-car fa-2x me-3"></i>
                              <h4 class="m-0">Batería del coche</h4>
                          </button>
                          <button class="nav-link w-100 d-flex align-items-center text-start p-4 mb-4"
                              data-bs-toggle="pill" data-bs-target="#tab-pane-3" type="button">
                              <i class="fa fa-cog fa-2x me-3"></i>
                              <h4 class="m-0">Aire acondicionado</h4>
                          </button>
                          <button class="nav-link w-100 d-flex align-items-center text-start p-4 mb-0"
                              data-bs-toggle="pill" data-bs-target="#tab-pane-4" type="button">
                              <i class="fa fa-oil-can fa-2x me-3"></i>
                              <h4 class="m-0">Cambio de aceite</h4>
                          </button>
                      </div>
                  </div>
                  <div class="col-lg-8">
                      <div class="tab-content w-100">
                          <div class="tab-pane fade show active" id="tab-pane-1">
                              <div class="row g-4">
                                  <div class="col-md-6" style="min-height: 350px;">
                                      <div class="position-relative h-100">
                                          <img class="position-absolute img-fluid w-100 h-100"
                                              src="../assets/imagenes/service-1.jpg" style="object-fit: cover;" alt="">
                                      </div>
                                  </div>
                                  <div class="col-md-6">
                                      <h3 class="mb-3">¿Qué revisiones necesita tu coche?</h3>
                                      <p class="mb-4">Mantener un programa regular de revisiones es vital para el
                                          rendimiento y la durabilidad de tu vehículo. Aquí hay algunas de las
                                          principales revisiones que tu taller debe realizar:</p>
                                      <p><i class="fa fa-check text-success me-3"></i>Filtros de aire y
                                          combustible</p>
                                      <p><i class="fa fa-check text-success me-3"></i>Aceite y batería</p>
                                      <p><i class="fa fa-check text-success me-3"></i>Sistema de frenos</p>
                                      <p><i class="fa fa-check text-success me-3"></i>Alineación y balanceo de
                                          ruedas</p>
                                      <a href="#contacto" id="btnServicios" class="btn btn-primary py-3 px-5 mt-3">
                                          Contactar<i class="fa fa-arrow-right ms-3"></i>
                                      </a>
                                  </div>
                              </div>
                          </div>
                          <div class="tab-pane fade" id="tab-pane-2">
                              <div class="row g-4">
                                  <div class="col-md-6" style="min-height: 350px;">
                                      <div class="position-relative h-100">
                                          <img class="position-absolute img-fluid w-100 h-100"
                                              src="../assets/imagenes/service-2.jpg" style="object-fit: cover;" alt="">
                                      </div>
                                  </div>
                                  <div class="col-md-6">
                                      <h3 class="mb-3">¿Cómo cuidar la batería de tu coche?</h3>
                                      <p class="mb-4">La batería es un componente esencial para el funcionamiento
                                          de tu vehículo. Aquí algunos consejos y señales de que puede necesitar
                                          atención:</p>
                                      <p><i class="fa fa-check text-success me-3"></i>Comprobar el nivel de
                                          electrolitos</p>
                                      <p><i class="fa fa-check text-success me-3"></i>Limpieza de bornes y
                                          conexiones</p>
                                      <p><i class="fa fa-check text-success me-3"></i>Inspección de la batería en
                                          busca de corrosión</p>
                                      <p><i class="fa fa-check text-success me-3"></i>Revisar la fecha de
                                          vencimiento de la batería</p>
                                      <a href="#contacto" id="btnServicios" class="btn btn-primary py-3 px-5 mt-3">
                                          Contactar<i class="fa fa-arrow-right ms-3"></i>
                                      </a>
                                  </div>
                              </div>
                          </div>
                          <div class="tab-pane fade" id="tab-pane-3">
                              <div class="row g-4">
                                  <div class="col-md-6" style="min-height: 350px;">
                                      <div class="position-relative h-100">
                                          <img class="position-absolute img-fluid w-100 h-100"
                                              src="../assets/imagenes/service-3.jpg" style="object-fit: cover;" alt="">
                                      </div>
                                  </div>
                                  <div class="col-md-6">
                                      <h3 class="mb-3">Mantenimiento de tu sistema de aire acondicionado</h3>
                                      <p class="mb-4">El sistema de aire acondicionado es clave para tu comodidad
                                          al conducir. Sigue estos consejos para su mantenimiento:</p>
                                      <p><i class="fa fa-check text-success me-3"></i>Verificar el nivel de
                                          refrigerante regularmente</p>
                                      <p><i class="fa fa-check text-success me-3"></i>Limpiar los filtros de aire
                                          acondicionado</p>
                                      <p><i class="fa fa-check text-success me-3"></i>Inspeccionar posibles fugas
                                          en el sistema</p>
                                      <p><i class="fa fa-check text-success me-3"></i>Realizar una recarga de
                                          refrigerante cuando sea necesario</p>
                                      <a href="#contacto" id="btnServicios" class="btn btn-primary py-3 px-5 mt-3">
                                          Contactar<i class="fa fa-arrow-right ms-3"></i>
                                      </a>
                                  </div>

                              </div>
                          </div>
                          <div class="tab-pane fade" id="tab-pane-4">
                              <div class="row g-4">
                                  <div class="col-md-6" style="min-height: 350px;">
                                      <div class="position-relative h-100">
                                          <img class="position-absolute img-fluid w-100 h-100"
                                              src="../assets/imagenes/service-4.jpg" style="object-fit: cover;" alt="">
                                      </div>
                                  </div>
                                  <div class="col-md-6">
                                      <h3 class="mb-3">¿Cuándo y cómo cambiar el aceite de tu coche?</h3>
                                      <p class="mb-4">El cambio de aceite es esencial para el rendimiento y la
                                          longevidad del motor. Aquí te indicamos lo que necesitas saber:</p>
                                      <p><i class="fa fa-check text-success me-3"></i>Utilizar el tipo de aceite
                                          adecuado para tu motor</p>
                                      <p><i class="fa fa-check text-success me-3"></i>Reemplazar el filtro de
                                          aceite con cada cambio</p>
                                      <p><i class="fa fa-check text-success me-3"></i>Comprobar el nivel de aceite
                                          regularmente</p>
                                      <a href="#contacto" id="btnServicios" class="btn btn-primary py-3 px-5 mt-3">
                                          Contactar<i class="fa fa-arrow-right ms-3"></i>
                                      </a>
                                  </div>

                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- Fin Servicios -->


<!-- Inicio Ofertas -->
<section class="services bg-dark" id="oferta">
  <div class="heading">
      <h2 class="section-title"><span>// OFERTAS //</span></h2>
      <p class="section-title2">Aprovecha nuestras promociones únicas para llevar tu experiencia automotriz al
          siguiente nivel. <br>Explora nuestros descuentos especiales y convierte tu viaje en una aventura de
          rendimiento y estilo.</p>
  </div>

  <div class="container ofertas">
      <div class="container-fluid pt-5">

          <div class="container">
              <div class="row">
                  <div class="col-md-4 mb-5">
                      <div class="bg-secondary">
                          <div class="text-center p-4">
                              <h1 class="display-4 mb-0">
                                  49<small class="align-top text-muted font-weight-medium"
                                      style="font-size: 22px; line-height: 45px;">€</small>
                              </h1>
                          </div>
                          <div class="bg-primary text-center p-4 fondoOferta">
                              <h3 class="m-0">Basico</h3>
                          </div>
                          <div class="d-flex flex-column align-items-center py-4">
                              <p>Inspeccion tecnica</p>
                              <p>Cambio de aceite</p>
                              <p>Recambio de Limpiaparabrisas</p>
                              <p>Cambio de liquido de frenos</p>
                              <a href="cita.html" class="btn btn-primary py-2 px-4 my-2 botonOferta">Pedir Cita</a>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-4 mb-5">
                      <div class="bg-secondary">
                          <div class="text-center p-4">
                              <h1 class="display-4 mb-0">
                                  99<small class="align-top text-muted font-weight-medium"
                                      style="font-size: 22px; line-height: 45px;">€</small>
                              </h1>
                          </div>
                          <div class="bg-primary text-center p-4 fondoOferta">
                              <h3 class="m-0">Premium</h3>
                          </div>
                          <div class="d-flex flex-column align-items-center py-4">
                              <p>Inspeccion tecnica</p>
                              <p>Cambio de aceite</p>
                              <p>Recambio de Limpiaparabrisas</p>
                              <p>Cambio de liquido de frenos</p>
                              <a href="cita.html" class="btn btn-primary py-2 px-4 my-2 botonOferta">Pedir Cita</a>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-4 mb-5">
                      <div class="bg-secondary">
                          <div class="text-center p-4">
                              <h1 class="display-4 mb-0">
                                  149<small class="align-top text-muted font-weight-medium"
                                      style="font-size: 22px; line-height: 45px;">€</small>
                              </h1>
                          </div>
                          <div class="bg-primary text-center p-4 fondoOferta">
                              <h3 class="m-0">Excelsior</h3>
                          </div>
                          <div class="d-flex flex-column align-items-center py-4">
                              <p>Inspeccion tecnica</p>
                              <p>Cambio de aceite</p>
                              <p>Recambio de Limpiaparabrisas</p>
                              <p>Cambio de liquido de frenos</p>
                              <a href="cita.html" class="btn btn-primary py-2 px-4 my-2 botonOferta">Pedir Cita</a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

      </div>
  </div>
</section>
<!-- Fin Ofertas -->


<!-- Inicio sobre nosotros -->
<div id="sobreNosotros">
  <div id="template-mo-zay-hero-carousel" class="carousel slide" data-bs-ride="carousel">
      <ol class="carousel-indicators">
          <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="0" class="active"></li>
          <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="1"></li>
          <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
          <div class="carousel-item active">
              <div class="container">
                  <div class="row p-5">
                      <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                          <img class="img-fluid" src="../assets/imagenes/sobreNosotros1.jpg" alt=""
                              style="padding: 25px; width: 600; height: 600;">
                      </div>
                      <div class="col-lg-6 mb-0 d-flex align-items-center">
                          <div class="text-align-left align-self-center">
                              <h1 class="h1 text-success"><b>Talleres YoDa</b></h1>
                              <h3 class="h2">Expertos en mantenimiento y reparación de vehículos</h3>
                              <p>Bienvenido a Talleres YoDa, donde la excelencia automotriz es nuestra pasión.
                                  Con años de experiencia y un equipo experto, estamos aquí para mantener tu vehículo
                                  en óptimas condiciones.
                                  Confía en nosotros para soluciones confiables y amigables. ¡Talleres YoDa, tu
                                  destino confiable para
                                  todas tus necesidades automotrices!</p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="carousel-item">
              <div class="container">
                  <div class="row p-5">
                      <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                          <img class="img-fluid" src="../assets/imagenes/sobreNosotros2.png" alt=""
                              style="padding: 25px; width: 600; height: 600;">
                      </div>
                      <div class="col-lg-6 mb-0 d-flex align-items-center">
                          <div class="text-align-left">
                              <h1 class="h1 text-success"><b>Nuestras Instalaciones</b></h1>
                              <h3 class="h2">Tenemos el mejor equipo</h3>
                              <p>
                                  Nuestras instalaciones de vanguardia y nuestro equipo experto se unen para ofrecerte
                                  un servicio automotriz
                                  incomparable. Desde mecánicos altamente capacitados hasta tecnología de punta,
                                  estamos listos para mantener
                                  tu vehículo en óptimas condiciones. ¡Confía en nosotros para una experiencia
                                  automotriz excepcional en Talleres YoDa!
                              </p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="carousel-item">
              <div class="container">
                  <div class="row p-5">
                      <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                          <img class="img-fluid" src="../assets/imagenes/sobreNosotros3.png" alt=""
                              style="padding: 25px; width: 600; height: 600;">
                      </div>
                      <div class="col-lg-6 mb-0 d-flex align-items-center">
                          <div class="text-align-left">
                              <h1 class="h1 text-success"><b>¿Qué podemos hacer por ti?</b></h1>
                              <h3 class="h2">Tu vehículo esta en buenas manos</h3>
                              <p>Nos comprometemos a proporcionarte una amplia gama de servicios automotrices para
                                  mantener tu vehículo en óptimas condiciones:</p>
                              <ul>
                                  <li><strong>Mantenimiento Preventivo y Reparaciones:</strong> Desde cambios de
                                      aceite y filtros hasta reparaciones de motor y transmisión, nuestro equipo
                                      altamente capacitado está listo para realizar cualquier servicio necesario para
                                      mantener tu vehículo funcionando de manera óptima y segura.</li>
                                  <li><strong>Diagnóstico de Problemas:</strong> Utilizando equipos de diagnóstico de
                                      última generación, podemos identificar y solucionar eficientemente cualquier
                                      problema que pueda estar afectando el rendimiento de tu vehículo, garantizando
                                      una solución rápida y precisa.</li>
                                  <li><strong>Inspecciones Detalladas y Servicios Especializados:</strong> Realizamos
                                      inspecciones detalladas para asegurarnos de que tu vehículo cumpla con los más
                                      altos estándares de seguridad y rendimiento.</li>
                              </ul>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <a class="carousel-control-prev text-decoration-none w-auto ps-3" href="#template-mo-zay-hero-carousel"
          role="button" data-bs-slide="prev">
          <i class="fas fa-chevron-left"></i>
      </a>
      <a class="carousel-control-next text-decoration-none w-auto pe-3" href="#template-mo-zay-hero-carousel"
          role="button" data-bs-slide="next">
          <i class="fas fa-chevron-right"></i>
      </a>
  </div>
</div>
<!-- Fin sobre nosotros -->


<!-- Inicio Contacto -->
<div id="contacto">
  <section class="about bg-dark section-contacto" id="about">
      <div class="container-xxl py-5">
          <div class="container">
              <div class="row g-5">
                  <div class="col-lg-6 wow fadeIn contacto" data-wow-delay="0.1s">
                      <h1 class="display-6 mb-5">Contáctanos para mantenimientos y reparaciones de confianza</h1>
                      <p class="mb-4">Estamos aquí para ayudarte! Ponte en contacto con nuestro equipo experto para resolver tus necesidades automotrices de manera rápida y confiable. ¡Tu tranquilidad al volante comienza aquí!</p>
                      <form>
                          <div class="row g-3">
                              <div class="col-md-6">
                                  <div class="form-floating">
                                      <input type="text" class="form-control texto-form" id="name" placeholder="Your Name">
                                      <label for="name" class="texto-form">Nombre</label>
                                  </div>
                              </div>
                              <div class="col-md-6">
                                  <div class="form-floating">
                                      <input type="email" class="form-control texto-form" id="email" placeholder="Your Email">
                                      <label for="email" class="texto-form">Correo</label>
                                  </div>
                              </div>
                              <div class="col-12">
                                  <div class="form-floating">
                                      <input type="text" class="form-control texto-form" id="subject" placeholder="Subject">
                                      <label for="subject" class="texto-form">Motivo</label>
                                  </div>
                              </div>
                              <div class="col-12">
                                  <div class="form-floating">
                                      <textarea class="form-control texto-form" placeholder="Leave a message here" id="message" style="height: 100px"></textarea>
                                      <label for="message" class="texto-form">Mensaje</label>
                                  </div>
                              </div>
                              <div class="col-12">
                                  <button href="#" id="btnServicios" class="btn btn-primary py-3 px-5 mt-3">
                                      Enviar
                                      <i class="fa fa-arrow-right ms-3"></i>
                                  </button>
                              </div>
                          </div>
                      </form>
                  </div>
                  <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s" style="min-height: 450px;">
                      <div class="position-relative rounded overflow-hidden h-100">
                          <iframe class="position-relative w-100 h-100"
                          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3710.3885562461987!2d-3.375479723625241!3d38.998470840733304!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd69145c3b21a397%3A0xfead0960cd5219f3!2sC.%20Miguel%20de%20Cervantes%2C%2017%2C%2013200%20Manzanares%2C%20Ciudad%20Real!5e1!3m2!1ses!2ses!4v1709851829511!5m2!1ses!2ses"
                          frameborder="0" style="min-height: 450px; border:0;" allowfullscreen="" aria-hidden="false"
                          tabindex="0"></iframe>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
</div>
<!-- Fin Contacto -->


<!-- Inicio Footer -->
<footer id="tempaltemo_footer">
  <div class="container">
      <div class="row">

          <div class="col-md-4 pt-5">
              <h2 class="h2 text-success border-bottom pb-3 border-light logo">Talleres YoDa</h2>
              <ul class="list-unstyled text-footer footer-link-list">
                  <li>
                      <i class="fas fa-map-marker-alt fa-fw"></i>
                      Calle Miguel de Cervantes, 17
                  </li>
                  <li>
                      <i class="fa fa-phone fa-fw"></i>
                      <a class="text-decoration-none" href="tel:926-586-068">926-586-068</a>
                  </li>
                  <li>
                      <i class="fa fa-envelope fa-fw"></i>
                      <a class="text-decoration-none"
                          href="mailto:talleresyoda@gmail.com">talleresyoda&#64;gmail.com</a>
                  </li>
              </ul>
          </div>

          <div class="col-md-4 pt-5">
              <h2 class="h2 text-footer border-bottom pb-3 border-light">Productos</h2>
              <ul class="list-unstyled text-light footer-link-list">
                  <li><a class="text-decoration-none" href="#">Limpieza</a></li>
                  <li><a class="text-decoration-none" href="#">Aceites</a></li>
                  <li><a class="text-decoration-none" href="#">Liquido frenos</a></li>
                  <li><a class="text-decoration-none" href="#">Herramientas</a></li>
                  <li><a class="text-decoration-none" href="#">Neumaticos</a></li>
                  <li><a class="text-decoration-none" href="#">Limpiaparabrisas</a></li>
              </ul>
          </div>

          <div class="col-md-4 pt-5">
              <h2 class="h2 text-footer border-bottom pb-3 border-light">Informacion adicional</h2>
              <ul class="list-unstyled text-light footer-link-list">
                  <li><a class="text-decoration-none" href="index.html">Inicio</a></li>
                  <li><a class="text-decoration-none" href="#sobreNosotros">Sobre nosotros</a></li>
                  <li><a class="text-decoration-none" href="#services">Servicios</a></li>
                  <li><a class="text-decoration-none" href="#oferta">Ofertas</a></li>
                  <li><a class="text-decoration-none" href="#contacto">Contacto</a></li>
                  <li><a class="text-decoration-none" href="#">FAQs</a></li>
              </ul>
          </div>

      </div>

      <div class="row text-light mb-4">
          <div class="col-12 mb-3">
              <div class="w-100 my-3 border-top border-light"></div>
          </div>
          <div class="col-auto me-auto">
              <ul class="list-inline text-left footer-icons">
                  <li class="list-inline-item border border-light rounded-circle text-center">
                      <a class="text-footer text-decoration-none" target="_blank" href="http://facebook.com/"><i
                              class="fab fa-facebook-f fa-lg fa-fw"></i></a>
                  </li>
                  <li class="list-inline-item border border-light rounded-circle text-center">
                      <a class="text-footer text-decoration-none" target="_blank"
                          href="https://www.instagram.com/"><i class="fab fa-instagram fa-lg fa-fw"></i></a>
                  </li>
                  <li class="list-inline-item border border-light rounded-circle text-center">
                      <a class="text-footer text-decoration-none" target="_blank" href="https://twitter.com/"><i
                              class="fab fa-twitter fa-lg fa-fw"></i></a>
                  </li>
                  <li class="list-inline-item border border-light rounded-circle text-center">
                      <a class="text-footer text-decoration-none" target="_blank"
                          href="https://www.linkedin.com/"><i class="fab fa-linkedin fa-lg fa-fw"></i></a>
                  </li>
              </ul>
          </div>
          <div class="col-auto">
              <p class="text-left text-footer">
                  Copyright &copy; 2024 Talleres YoDa
                  | Diseñado por <a rel="sponsored" href="#" target="_blank">TalleresYoDa</a>
              </p>
          </div>
          <a href="#Inicio" title="Ir al inicio de la página" >
              <img id="volverArriba" src="../assets/imagenes/volverArriba.png" alt="Volver arriba" />
          </a>
      </div>
  </div>

</footer>